h1{
    font-size: 30px;
    text-align: center;
}

.icon-box{
    background: darkorchid;
    width: 100%;
}

.selfintroduction-box{
    background: chocolate;
    font-size: 17px;
    /* border: 1px solid; */
    /* margin: 40px; */
}

.selfintroduction{
    background: cornflowerblue;
    border: 1px solid;
    margin: 40px;
}

.yokonarabi{
    display: flex;
}

.toukourecipe-box{
    background: darkgreen;
    width: 50%;
}

.toukourecipe{
    background: blue;
    font-size:17px;
    /* border: 1px solid; */
    /* margin: 40px; */
    width: 50%;
}

.favorite-box{
    background: darkmagenta;
    width: 50%;
}

.favorite{
    background: red;
    font-size: 17px;
    /* border: 1px solid; */
    /* margin: 40px; */
    width: 50%;
}